{% extends 'main/email/base.html.twig' %}

{% block content %}
    <row>
        <columns>
            <spacer size="35"></spacer>
            <h1>
                <center>
                    Your new password
                </center>
            </h1>
            <spacer size="10"></spacer>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <p>
                To login into your profile use this new password: <br><br>
                <strong>{{ plainPassword }}</strong>
            </p>
        </columns>
    </row>
    <row>
        <columns>
            <a href="{{ homepageUrl }}" target="_blank">
                Visit our homepage.
            </a>
        </columns>
    </row>
{% endblock %}

