<header class="header">
    <div class="container-fluid">
        <button class="mobile-menu-toggler">
            <i class="fas fa-bars"></i>
        </button>

        <a href="{{ path('shop_index') }}" class="logotype">
            <img src="{{ asset('build/images/icons/logo_366x79.svg') }}" alt="RankedChoice Logotype">
        </a>

        <nav class="main-nav">
            <ul class="menu">
                {% include 'embed/_menu_item.html.twig' with {
                    'targetRoute': 'shop_index',
                    'label': 'Homepage',
                    'isBold': 1
                } %}
                {% include 'embed/_menu_item.html.twig' with {
                    'targetRoute': 'category_show',
                    'slug': 'jeans',
                    'label': 'Jeans'
                } %}
                {% include 'embed/_menu_item.html.twig' with {
                    'targetRoute': 'category_show',
                    'slug': 'hats',
                    'label': 'Hats'
                } %}
                {% include 'embed/_menu_item.html.twig' with {
                    'targetRoute': 'category_show',
                    'slug': 'jackets',
                    'label': 'Jackets'
                } %}
                {% include 'embed/_menu_item.html.twig' with {
                    'targetRoute': 'category_show',
                    'slug': 'dresses',
                    'label': 'Dresses'
                } %}
                {% include 'embed/_menu_item.html.twig' with {
                    'targetRoute': 'category_show',
                    'slug': 'sneakers',
                    'label': 'Sneakers'
                } %}

                {% if app.user %}
                    <a href="{{ path('profile_index') }}">My profile</a>
                    {% include 'embed/_menu_item.html.twig' with {
                        'targetRoute': 'profile_index',
                        'label': 'My profile',
                        'isBold': 1
                    } %}
                {% else %}
                    {% include 'embed/_menu_item.html.twig' with {
                        'targetRoute': 'security_login',
                        'label': 'Login',
                        'isBold': 1
                    } %}
                {% endif %}
            </ul>
        </nav>

        {{ include('embed/_menu_cart.html.twig') }}
    </div>
</header>
