{% for category in categories %}
    <li class="megamenu-container">
        <a href="{{ path('category_show', {slug: category.slug}) }}" class="sf-with-ul">{{ category.title }}</a>
    </li>
{% endfor %}
