{% extends 'admin/base.html.twig' %}

{% block title %}
    Admin Panel | {% block title_detailed %}{% endblock %}
{% endblock %}

{% block layout_body %}
    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">

            {{ include('admin/embed/main/_sidebar.html.twig') }}

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">

                    {{ include('admin/embed/main/_topbar.html.twig') }}

                    <div class="container-fluid">
                        {% include 'admin/embed/utils/_flash_message.html.twig' %}

                        {% block body %}{% endblock %}
                    </div>
                </div>

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; RankedChoice 2021</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        {% block javascripts %}{% endblock %}
    </body>
{% endblock %}
