.cart-dropdown {
    display: flex;
    align-self: stretch;
    align-items: center;
}

.cart-dropdown .dropdown-toggle {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none !important;
    line-height: 1;
    color: #333;
}

.cart-dropdown .dropdown-toggle::after {
    display: none;
}

.cart-dropdown .dropdown-menu {
    display: block;
    width: 300px;
    z-index: 100;
    font-size: 1.3rem;
    z-index: 1001;
    margin: 1px 0 0;
    border-radius: 0;
    border: 20px white solid;
    box-shadow: 5px 10px 16px rgba(51, 51, 51, 0.05), -5px 10px 16px rgba(51, 51, 51, 0.05);
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all .25s;
}

.cart-dropdown .btn-remove {
    position: absolute;
    top: 50%;
    right: -.55rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.4rem;
    height: 2.4rem;
    color: #cccccc;
    font-size: 1.3rem;
    line-height: 1;
    text-align: center;
    margin-top: -1.2rem;
}

.cart-dropdown .btn-remove:hover, .cart-dropdown .btn-remove:focus,
.cart-dropdown:hover .dropdown-toggle, .cart-dropdown.show .dropdown-toggle,
.cart-dropdown:hover .dropdown-menu, .cart-dropdown.show .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.cart-dropdown {
    padding-left: 2.5rem;
}

.cart-dropdown .dropdown-toggle {
    font-size: 3.2rem; }
.cart-dropdown .dropdown-toggle i {
    display: inline-block;
    margin-top: -3px; }
.cart-dropdown .cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    font-weight: 400;
    font-size: .8rem;
    line-height: 1;
    margin-left: .2rem;
    margin-top: .1rem;
    color: #fff;
    background-color: #cc9966; }
.cart-dropdown .dropdown-cart-products {
    margin-top: -1rem; }
.cart-dropdown .product {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 1.6rem 2.4rem 1.6rem 0;
    box-shadow: none;
    margin: 0 !important;
    border: none;
    border-bottom: 1px solid #ebebeb;
    box-shadow: none !important; }
.cart-dropdown .product-image-container {
    position: relative;
    max-width: 60px;
    margin: 0;
    margin-left: auto; }
.cart-dropdown .product-title {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.3;
    color: #666;
    text-align: left;
    margin-bottom: .4rem; }
.cart-dropdown .product-title a {
    color: inherit; }
.cart-dropdown .product-title a:hover, .cart-dropdown .product-title a:focus {
    color: #cc9966; }
.cart-dropdown .product-cart-details {
    font-weight: 400;
    max-width: 150px;
    font-size: 1.3rem;
    color: #999999;
    text-align: left; }

.dropdown-cart-total {
    padding: 1rem 0 .5rem;
    display: flex;
    align-items: flex-end;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #666666;
    margin-bottom: 1.1rem; }
.dropdown-cart-total .cart-total-price {
    font-size: 1.2rem;
    margin-left: auto; }

.dropdown-cart-action {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
}

.cart-dropdown,
.compare-dropdown {
    font-weight: 400;
    font-size: 1rem !important;
}
.cart-dropdown a {
    color: #333;
    text-transform: uppercase;
}
.cart-dropdown a:hover {
    color: #f13c76;
}
.cart-dropdown .dropdown-menu,
.compare-dropdown .dropdown-menu {
    margin-top: 0; }

@media screen and (max-width: 575px) {
    .cart-dropdown {
        padding-left: 1.4rem;
    }
}

.cart-dropdown:hover .dropdown-toggle, .cart-dropdown.show .dropdown-toggle,
.compare-dropdown:hover .dropdown-toggle,
.compare-dropdown.show .dropdown-toggle {
    color: #f13c76; }

.compare-product-title a:hover, .compare-product-title a:focus {
    color: #cc6666; }

.compare-actions .action-link:hover, .compare-actions .action-link:focus {
    color: #cc6666; }

.cart-dropdown .cart-count {
    background-color: #E20048; }
.dropdown-cart-products .product-title {
    font-size: 1.2rem;
}
.dropdown-cart-products .cart-product-info {
    font-size: 1rem;
}
.dropdown-cart-total {
    font-size: 1.2rem;
}
.cart-dropdown .product-title a:hover, .cart-dropdown .product-title a:focus {
    color: #f13c76; }
