.main-nav {
    margin-left: 2rem;
    display: none;
}

.menu {
    display: flex;
    align-items: center;
}

.menu, .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu a:not(.btn) {
    display: block;
    position: relative;
    text-decoration: none;
}

.menu a:not(.btn):focus {
    outline: none !important;
}


.menu > li > a {
    color: #333;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 2.95rem 1.5rem;
    text-transform: uppercase;
}

.menu > li > a {
    font-size: 1rem !important;
    font-weight: 400;
    letter-spacing: 0;
}

.menu .megamenu-container .active {
    display: inline;
    border-bottom: 3px solid #F13C76;
    color: #f13c76
}

@media screen and (min-width: 992px) {
    .main-nav {
        display: block;
    }
}

.menu li:hover > a,
.menu li.show > a,
.menu li.active > a {
    color: #dc143c; }

.header-bottom .menu > li > a:before {
    background-color: #dc143c; }
