.product-image {
    display: block;
    width: 100%;
    height: auto;
}

.product-sale-status {
    position: absolute;
    z-index: 1;
    top: .5rem;
    left: .5rem;
    font-weight: 400;
    font-size: .9rem;
    line-height: 1.6rem;
    letter-spacing: -.01em;
    padding: .2rem .6rem;
    min-width: 40px;
    text-align: center;
    color: #333333;
    background-color: #fff;
}

.product-sale-status.sale-status-new {
    color: #fff;
    background-color: #a6c76c;
}

.product-details-top .product-media {
    position: relative;
    margin-bottom: 0;
}
.product-details-top .product-media img {
    max-width: none;
    width: 100%;
    border: 10px #efefef solid;
}

.product-details .product-title {
    font-weight: 400;
    font-size: 2.9rem;
    letter-spacing: -.025em;
    margin-bottom: 1.3rem;
    margin-top: -.5rem;
    padding-right: 1rem;
}

.product-details .product-price {
    font-size: 1.6rem;
}

.product-details .product-content {
    border: 1px solid #efefef;
    padding: 15px;
    margin-bottom: 1.3rem;
}

.product-details .product-content p:last-child {
    margin-bottom: 0;
}

.details-filter-row {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 1.3rem;
}

.details-filter-row .form-control {
    font-weight: 400;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #fff;
    border-color: #d7d7d7;
    min-width: 120px;
}

.details-filter-row .select-custom {
    margin-bottom: 0;
    margin-right: 3.9rem;
}

.details-filter-row .select-custom .form-control {
    padding-right: 1rem;
}

.details-filter-row .select-custom::after {
    font-size: 1rem;
    right: .9rem;
}

.details-filter-row label {
    display: inline-block;
    width: 67px;
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 0;
}

.product-details-quantity {
    max-width: 131px;
}

.product-details-quantity .form-control {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    margin-bottom: 0;
}

.product-details-action {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.product-details-top {
    margin-bottom: 1rem;
    background-color: #fff;
    #padding: 20px;
    border: 20px solid #fff;
}

.product-details-tab {
    margin-bottom: 5rem;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
}

.product-details .product-price {
    margin-bottom: 1.3rem;
}
