@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700');

/* Main styles */
html {
    #font-size: 62.5%;
    #-webkit-text-size-adjust: 100%;
    #-ms-text-size-adjust: 100%;
    #font-size-adjust: 100%; }

body {
    #font: normal 300 1.4rem/1.86 "Poppins", sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #666666;
    font-weight:300;
    line-height: 26px;
    letter-spacing: 0.5px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

p {
    margin-bottom: 1.5rem;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0 0 1.5rem;
}

hr {
    border: none;
    border-top: 1px solid #ebebeb;
    margin: 3rem auto 2.5rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 1.4rem;
    color: #333333;
    letter-spacing: -.03em;
}

h1, .h1 {
    font-size: 4rem;
}

h2, .h2 {
    font-size: 3.6rem;
}

h3, .h3 {
    font-size: 2.6rem;
}

h4, .h4 {
    font-size: 2.2rem;
}

h5, .h5 {
    font-size: 2rem;
    letter-spacing: -.025em;
}

h6, .h6 {
    font-size: 1.6rem;
    letter-spacing: -.01em;
}

a {
    color: #cc9966;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover,
a:focus {
    color: #bf8040;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    h1, .h1 {
        font-size: 5rem;
    }

    h2, .h2 {
        font-size: 4rem;
    }

    h3, .h3 {
        font-size: 3rem;
    }

    h4, .h4 {
        font-size: 2.4rem;
    }
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
    padding-right: 10px;
    padding-left: 10px;
}

.container {
    width: 1188px;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    transition: transform 0.4s ease;
}


.main {
    flex: 1;
    width: 100%;
}

.page-content {
    padding-bottom: 5rem;
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

/* HEADER */

.header {
    width: 100%;
    background-color: #fff;
}
.header .container,
.header .container-fluid {
    position: relative;
    display: flex;
    align-items: center;
}

.header-left,
.header-center,
.header-right {
    display: flex;
    align-items: center;
}

.header-right {
    margin-left: auto;
    align-self: stretch;
}

.header-center {
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: block;
    flex-shrink: 0;
    min-height: 25px;
}
.logo img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header-right .header-menu,
.header-right .header-dropdown:first-child .header-menu {
    left: auto;
    right: 0; }
.header-right .top-menu + .header-dropdown {
    margin-left: 2.5rem; }

.header-middle {
    border-bottom: .1rem solid #f4f4f4; }
.header-middle .menu > li > a {
    letter-spacing: .01em; }
.header-middle .menu.sf-arrows > li > .sf-with-ul {
    padding-right: 1rem; }

.cart-dropdown {
    display: flex;
    align-self: stretch;
    align-items: center;
}
.cart-dropdown .dropdown-toggle {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none !important;
    line-height: 1;
    color: #333;
}
.cart-dropdown .dropdown-toggle::after {
    display: none;
}
.cart-dropdown .dropdown-menu {
    display: block;
    width: 300px;
    z-index: 100;
    font-size: 1.3rem;
    z-index: 1001;
    margin: 1px 0 0;
    border-radius: 0;
    border: 20px white solid;
    box-shadow: 5px 10px 16px rgba(51, 51, 51, 0.05), -5px 10px 16px rgba(51, 51, 51, 0.05);
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all .25s;
}
.cart-dropdown .dropdown-menu:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 1px;
}
.cart-dropdown .dropdown-menu.dropdown-menu-right {
    right: -1px;
}
.cart-dropdown .btn-remove {
    position: absolute;
    top: 50%;
    right: -.55rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.4rem;
    height: 2.4rem;
    color: #cccccc;
    font-size: 1.3rem;
    line-height: 1;
    text-align: center;
    margin-top: -1.2rem;
}
.cart-dropdown .btn-remove:hover, .cart-dropdown .btn-remove:focus,
.cart-dropdown:hover .dropdown-toggle, .cart-dropdown.show .dropdown-toggle,
.cart-dropdown:hover .dropdown-menu, .cart-dropdown.show .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.cart-dropdown {
    padding-left: 2.5rem; }
.cart-dropdown .dropdown-toggle {
    font-size: 3.2rem; }
.cart-dropdown .dropdown-toggle i {
    display: inline-block;
    margin-top: -3px; }
.cart-dropdown .cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    font-weight: 400;
    font-size: .8rem;
    line-height: 1;
    margin-left: .2rem;
    margin-top: .1rem;
    color: #fff;
    background-color: #cc9966; }
.cart-dropdown .dropdown-cart-products {
    margin-top: -1rem; }
.cart-dropdown .product {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 1.6rem 2.4rem 1.6rem 0;
    box-shadow: none;
    margin: 0 !important;
    border: none;
    border-bottom: 1px solid #ebebeb;
    box-shadow: none !important; }
.cart-dropdown .product-image-container {
    position: relative;
    max-width: 60px;
    margin: 0;
    margin-left: auto; }
.cart-dropdown .product-title {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.3;
    color: #666;
    text-align: left;
    margin-bottom: .4rem; }
.cart-dropdown .product-title a {
    color: inherit; }
.cart-dropdown .product-title a:hover, .cart-dropdown .product-title a:focus {
    color: #cc9966; }
.cart-dropdown .product-cart-details {
    font-weight: 400;
    max-width: 150px;
    font-size: 1.3rem;
    color: #999999;
    text-align: left; }

.dropdown-cart-total {
    padding: 1rem 0 .5rem;
    display: flex;
    align-items: flex-end;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #666666;
    margin-bottom: 1.1rem; }
.dropdown-cart-total .cart-total-price {
    font-size: 1.2rem;
    margin-left: auto; }

.dropdown-cart-action {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
}

.mobile-menu-toggler {
    border: none;
    background: transparent;
    color: #666666;
    padding: .2rem .25rem;
    font-size: 2.8rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem; }

.header-bottom .mobile-menu-toggler {
    margin-top: .55rem;
    margin-bottom: .55rem;
    margin-left: -.4rem; }

@media screen and (min-width: 992px) {
    .mobile-menu-toggler {
        display: none;
    }
}
@media screen and (max-width: 575px) {
    .cart-dropdown {
        padding-left: 1.4rem;
    }
}

/*--------------------- 2.1.Menu -------------------- */
.main-nav {
    margin-left: 2rem;
    display: none; }

/* Menu Structure */
.menu,
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none; }

.menu {
    display: flex;
    align-items: center; }
.menu li {
    position: relative; }
.menu li:hover > ul,
.menu li.show > ul {
    display: block; }
.menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 1002; }
.menu ul ul {
    top: -1.6rem;
    left: 100%; }
.menu ul {
    margin-top: 1px; }
.menu ul:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    height: 1px;
    left: 0;
    right: 0; }
.menu ul ul {
    margin-top: 0; }
.menu a:not(.btn) {
    display: block;
    position: relative;
    text-decoration: none; }
.menu a:not(.btn):focus {
    outline: none !important; }

.menu {
    line-height: 1.5; }
.menu li > a {
    color: #999999;
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 3rem;
    padding-right: 3rem; }
.menu li > a span:not(.tip) {
    position: relative; }
.menu > li > a {
    color: #333;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: -.01em;
    padding: 2.95rem 1.5rem;
    text-transform: uppercase; }
.menu > li + li {
    margin-left: 0;
}
.menu ul {
    background-color: #fff;
    box-shadow: 5px 10px 16px rgba(51, 51, 51, 0.05), -5px 10px 16px rgba(51, 51, 51, 0.05); }
.menu ul {
    min-width: 218px;
    padding: 1.6rem 0 2rem; }
.menu .banner-content {
    padding-top: 0; }
.menu .banner-content.banner-content-bottom {
    left: 2.4rem;
    bottom: 2.4rem; }
.menu .banner-content.banner-content-top {
    left: 2rem;
    top: 2.4rem;
    transform: translateY(0);
    -ms-transform: translateY(0); }
.menu .banner-title {
    margin: 0;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 0; }
.menu .banner-title span {
    font-size: 2.4rem; }
.menu .banner-content-top .banner-title span {
    line-height: 1.05;
    font-size: 3.1rem; }

/* Menu Hover Style */
.menu li:hover > a,
.menu li.show > a,
.menu li.active > a {
    color: #cc9966; }




@media screen and (min-width: 992px) {
    .main-nav {
        display: block;
    }
}

/* Header 7 */
.header-7 .header-top {
    background-color: #f9f9f9; }
.header-7 .header-top .container-fluid::after {
    height: 0; }
.header-7 .header-middle {
    width: 100%;
    border-bottom: none;
    position: fixed;
    height: 110px;
    top: 0;
    z-index: 999;
    background: #ffffff;
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
}
.header-7 .header-middle .menu > li > a {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0; }
.header-7 .cart-dropdown,
.header-7 .compare-dropdown {
    font-weight: 400;
    font-size: 1rem !important;
}
.header-7 .cart-dropdown a {
    color: #333;
    text-transform: uppercase;
}
.header-7 .cart-dropdown a:hover {
    color: #f13c76;
}
.header-7 .cart-dropdown .dropdown-menu,
.header-7 .compare-dropdown .dropdown-menu {
    margin-top: 0; }
.header-7 .main-nav {
    margin-left: 2.5rem; }
.header-7 .menu ul,
.header-7 .menu .megamenu {
    margin-top: 0; }
.header-7 .menu.sf-arrows > li > .sf-with-ul {
    padding-right: 1.7rem; }
.header-7 .header-search-extended {
    margin-right: .5rem;
    max-width: 270px; }
.header-7 .header-search-extended .btn-primary {
    flex: 0 0 40px;
    max-width: 40px;
    background-color: transparent;
    font-size: 2.2rem;
    color: #666;
    border-radius: 0; }
.header-7 .header-search-extended .header-search-wrapper {
    border-radius: 0;
    border: none;
    border-bottom: .1rem solid #ccc; }
.header-7 .header-search-extended .search-wrapper-wide {
    width: 270px; }
.header-7 .header-search-extended .form-control {
    padding-left: 1rem;
    padding-bottom: 1rem; }
.header-7 .btn-primary:hover, .header-7 .btn-primary:focus, .header-7 .btn-primary.focus, .header-7 .btn-primary:not(:disabled):not(.disabled):active, .header-7 .btn-primary:not(:disabled):not(.disabled).active, .header-7 .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #cc6666;
    border-color: #cc6666;
    box-shadow: none; }
.header-7 .top-menu:not(.top-link-menu) ul {
    min-width: 180px; }

@media screen and (max-width: 575px) {
    .header-7 .cart-dropdown,
    .header-7 .compare-dropdown {
        padding-left: 1.4rem; }

    .header-7 .wishlist-link {
        margin-left: 1.4rem; } }
@media screen and (max-width: 1079px) {
    .header.header-7 .header-search-extended {
        display: none; } }


.btn-product {
    color: #c96; }
.btn-product:hover span, .btn-product:focus span {
    color: #c96;
    box-shadow: 0 1px 0 0 #c96; }

.btn-product-icon {
    color: #c96; }
.btn-product-icon:hover, .btn-product-icon:focus {
    background-color: #c96; }

.product-body .btn-wishlist:hover, .product-body .btn-wishlist:focus {
    color: #c96; }

.product.product-list .btn-product:hover, .product.product-list .btn-product:focus {
    color: #c96; }
.product.product-list .btn-product.btn-cart {
    color: #c96;
    border-bolor: #c96; }
.product.product-list .btn-product.btn-cart:hover, .product.product-list .btn-product.btn-cart:focus {
    background-color: #c96; }

/* Footers */
.footer a:hover,
.footer a:focus {
    color: #c96; }

.footer-dark.footer-2 .widget-about-title {
    color: #c96; }

/* Footer */
.footer {
    width: 100%;
    font-weight: 300;
    font-size: 1.4rem;
    color: #777;
    background-color: #fff; }
.footer a {
    color: inherit; }
.footer a:hover,
.footer a:focus {
    color: #c96; }
.footer .widget {
    margin-bottom: 4rem; }
.footer .widget-title {
    color: #333333;
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: -.01em;
    margin-top: 0;
    margin-bottom: 1rem; }
.footer .widget-copyright {
    font-size: 1rem;
}
.footer-middle {
    padding: 6.7rem 0 2.2rem;
    border-top: .1rem solid #ebebeb; }

.footer-logo {
    margin-bottom: 2rem;
    margin-top: -.8rem; }
.widget-list {
    margin-bottom: 0; }
.widget-list li:not(:last-child) {
    margin-bottom: .4rem; }

.footer-bottom .container,
.footer-bottom .container-fluid {
    position: relative;
    display: flex;
    align-content: center;
    flex-direction: column;
    padding-top: 2.1rem;
    padding-bottom: 2.9rem; }
.footer-bottom .container:before,
.footer-bottom .container-fluid:before {
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    background-color: #ebebeb; }

.footer-copyright {
    margin-bottom: 1rem;
    text-align: center; }

.footer-payments {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0; }

@media screen and (min-width: 992px) {
    .footer-bottom .container,
    .footer-bottom .container-fluid {
        flex-direction: row; }

    .footer-copyright {
        margin-bottom: 0;
        text-align: left; }

 }
@media screen and (min-width: 1200px) {
    .footer-bottom .container-fluid:before {
        left: 30px;
        right: 30px; } }
@media screen and (min-width: 1600px) {
    .footer-bottom .container-fluid:before {
        left: 70px;
        right: 70px; } }
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .footer .widget-about .social-icon:not(:last-child) {
        margin-right: .4rem; } }

/* Footer 2 */
.footer-2 .footer-middle {
    padding-top: 4.5rem;
    padding-bottom: .4rem; }
.footer-2 .footer-bottom .container {
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    flex-direction: column-reverse; }

@media screen and (min-width: 992px) {
    .footer-2 .footer-bottom .container,
    .footer-2 .footer-bottom .container-fluid {
        flex-direction: row; }
}


.page-header {
    padding: 4.6rem 0 5rem;
    background-color: #ebebeb;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
.page-header h1 {
    color: #333333;
    font: normal 400 3.2rem/1.1 "Poppins", sans-serif;
    letter-spacing: -.025em;
    margin-bottom: 0; }
.page-header h1 span {
    display: block;
    color: #c96;
    font-size: 1.6rem;
    margin-top: .8rem; }
.page-header.page-header-big {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    margin-bottom: 5rem; }
.page-header.page-header-big h1 span {
    font-size: 1.6rem;
    margin-top: .4rem;
    letter-spacing: 0; }

@media screen and (min-width: 768px) {
    .page-header h1 {
        font-size: 3.6rem; }
    .page-header h1 span {
        font-size: 1.8rem; }
    .page-header.page-header-big {
        min-height: 350px; } }
@media screen and (min-width: 992px) {
    .page-header h1 {
        font-size: 4rem; }
    .page-header h1 span {
        font-size: 2rem; }
    .page-header.page-header-big {
        min-height: 450px; } }

.heading {
    margin-bottom: 1.6rem; }
.heading.heading-flex {
    display: flex;
    flex-direction: column;
    text-align: center; }
.heading .title {
    margin-bottom: 0; }
.heading.heading-center {
    text-align: center; }
.heading.heading-center .title {
    margin-bottom: 1.5rem; }
.heading.heading-center .title-lg {
    margin-bottom: 2.4rem; }

/* Buttons */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .85rem 1.5rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: -.01em;
    min-width: 170px;
    border-radius: 0;
    white-space: normal;
    transition: all 0.3s; }
.btn span {
    line-height: 1; }
.btn i:first-child {
    margin-right: 1rem; }
.btn i:last-child {
    margin-left: 1rem; }
.btn:focus {
    box-shadow: none; }
.btn:focus, .btn:active {
    outline: none !important; }
.btn:active:focus {
    box-shadow: none !important; }
.btn:active {
    outline: none; }


/*--------------------- 4.8.Products -------------------- */
/* Product */
.product {
    position: relative;
    margin-bottom: 1rem;
    transition: box-shadow .35s ease;
    background-color: #fff; }
.owl-carousel .product {
    margin-bottom: 0 !important; }

.product:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05); }

.product-media {
    position: relative;
    display: block;
    background-color: #d7d7d7;
    margin-bottom: 0;
    overflow: hidden; }

.product-media > a {
    display: block; }

.product-image {
    display: block;
    width: 100%;
    height: auto; }

.product-image-hover {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: auto;
    transition: all .4s ease; }

.product:hover .product-image-hover {
    opacity: 1; }

.product-body {
    position: relative;
    padding: 1.6rem 2rem;
    transition: all .35s ease;
    background-color: #fff; }
.product-body.product-action-inner {
    padding-right: 4rem; }

.product-title {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.25;
    letter-spacing: -.01em;
    color: #333333;
    margin-bottom: .2rem; }


.product-title a {
    color: inherit; }
.product-title a:hover, .product-title a:focus {
    color: #c96; }

.product-cat {
    color: #777;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.2;
    letter-spacing: -.01em;
    margin-bottom: .3rem; }

.product-cat a {
    color: inherit; }
.product-cat a:hover, .product-cat a:focus {
    color: #666; }

.product-price {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.25;
    color: #3e3e3e;
}



.product-label {
    position: absolute;
    z-index: 1;
    top: .5rem;
    left: .5rem;
    font-weight: 400;
    font-size: .9rem;
    line-height: 1.6rem;
    letter-spacing: -.01em;
    padding: .2rem .6rem;
    min-width: 40px;
    text-align: center;
    color: #333333;
    background-color: #fff; }
.product-label + .product-label {
    top: 5rem; }
.product-label.label-sale {
    color: #fff;
    background-color: #ef837b; }
.product-label.label-new {
    color: #fff;
    background-color: #a6c76c; }
.product-label.label-top {
    color: #fff;
    background-color: #7dd2ea; }
.product-label.label-out {
    color: #fff;
    background-color: #ccc; }
.product-label.label-primary {
    color: #fff;
    background-color: #c96; }
.product-label.label-secondary {
    color: #fff;
    background-color: #000; }

.product-label-text {
    color: #c96;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1;
    letter-spacing: -.01em;
    margin-top: -.1rem; }

.product-action {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 10;
    transition: all .35s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%); }

.product:hover .product-action,
.product:focus .product-action {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); }

.btn-product {
    color: #c96;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    line-height: 1;
    transition: all .35s ease;
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
    flex-grow: 1;
    flex-basis: 0; }
.btn-product + .btn-product {
    border-left: .1rem dotted #e5e5e5; }
.btn-product:before {
    font-family: "molla";
    margin-right: .9rem; }
.btn-product span {
    color: #666666;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: -.01em;
    transition: all .35s ease; }
.btn-product:hover, .btn-product:focus {
    outline: none !important; }
.btn-product:hover span, .btn-product:focus span {
    color: #c96;
    box-shadow: 0 1px 0 0 #c96; }

.product.text-center .product-price,
.product.text-center .ratings-container,
.product.text-center .product-nav,
.product.text-center .product-size {
    justify-content: center; }


.banner {
    display: block;
    position: relative;
    margin-bottom: 1.5rem;
    background-color: #ccc; }
.banner > a {
    position: relative;
    display: block;
    outline: none !important; }
.banner img {
    display: block;
    max-width: none;
    width: 100%;
    height: auto; }

.banner-content {
    display: inline-block;
    position: absolute;
    padding-top: .4rem;
    left: 2rem;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%); }
.banner-content a:hover, .banner-content a:focus {
    text-decoration: underline; }

.banner-big .banner-content.banner-content-center,
.banner-content-center.banner-content {
    max-width: none;
    left: 0;
    right: 0;
    text-align: center; }

.banner-title {
    color: #333333;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 1.5rem;
    letter-spacing: -.03em; }
.banner-title a {
    color: inherit; }
.banner-title a:hover, .banner-title a:focus {
    text-decoration: none; }
.banner-title.text-white a {
    color: #fff; }

.banner-subtitle {
    color: #777;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.2;
    letter-spacing: 0;
    margin-bottom: 1rem; }
.banner-subtitle a {
    color: inherit; }
.banner-subtitle a:hover, .banner-subtitle a:focus {
    text-decoration: none; }
.banner-subtitle.text-white a {
    color: #fff; }

.banner-link {
    font-weight: 400;
    display: inline-block; }

.banner-big {
    color: #cccccc; }
.banner-big .banner-content {
    max-width: 470px;
    left: 3rem; }
.banner-big .banner-subtitle {
    font-size: 1.8rem;
    margin-bottom: .6rem; }
.banner-big .banner-title {
    font-size: 3rem;
    line-height: 1.15;
    margin-bottom: 1rem; }
.banner-big .banner-title + .btn {
    margin-top: 1rem; }
.banner-big p:last-of-type {
    margin-bottom: 2.3rem; }

@media screen and (min-width: 768px) {
    .banner-content {
        left: 3rem; }

    .banner-big .banner-content {
        left: 6rem; }
    .banner-big .banner-title {
        font-size: 4rem; } }
@media screen and (min-width: 992px) {
    .banner-content {
        left: 4rem; }

    .banner-big .banner-content {
        left: 10rem; }
    .banner-big .banner-title {
        font-size: 5rem; } }
.banner-display > a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(51, 51, 51, 0.4);
    transition: all 0.35s ease; }
.banner-display:hover > a:before {
    visibility: visible;
    opacity: 1; }
.banner-display .banner-content {
    padding-top: 0; }
.banner-display .banner-title {
    font-weight: 600;
    font-size: 2rem; }
.banner-display.banner-link-anim .banner-title {
    margin-bottom: 0; }
.banner-display.banner-link-anim:hover .banner-content {
    padding-bottom: 4.5rem; }

.btn.banner-link {
    font-size: 1.4rem;
    line-height: 1;
    padding: .8rem 1.4rem;
    min-width: 0;
    text-transform: uppercase;
    text-decoration: none !important; }
.btn.banner-link i {
    margin-right: 0;
    margin-left: 0; }
.btn.banner-link i:first-child {
    margin-right: 0; }
.btn.banner-link i:last-child {
    margin-left: .9rem; }

.banner-overlay > a {
    position: relative; }
.banner-overlay > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.25);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease; }
.banner-overlay.banner-overlay-light > a:after {
    background-color: rgba(255, 255, 255, 0.3); }
.banner-overlay:hover > a:after, .banner-overlay:focus > a:after {
    visibility: visible;
    opacity: 1; }

@media screen and (min-width: 768px) {
    .banner-display .banner-title {
        font-size: 2.4rem; } }



/*--------------------- 4.14.Forms -------------------- */
/* Inputs */
.form-group {
    margin-bottom: 2rem; }
.form-group .form-control,
.form-group .select-custom {
    margin-bottom: 0; }

.form-control {
    height: 40px;
    padding: .25rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    color: #777;
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    border-radius: 0;
    margin-bottom: 2rem;
    transition: all 0.3s;
    box-shadow: none; }

select.form-control:not([size]):not([multiple]) {
    height: 40px; }

.form-control-white {
    border-color: #fff; }

.form-control:focus {
    color: #777;
    background-color: #fff;
    border-color: #c96;
    box-shadow: none;
    outline: none !important; }

.form-control::placeholder {
    color: #777; }

textarea.form-control {
    min-height: 130px;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem; }

.form-control-rounded {
    border-radius: .2rem; }

.input-group-round .form-control {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px; }
.input-group-round > .input-group-append > .btn {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; }

label {
    color: #666666;
    font-weight: 300;
    font-size: 1.4rem;
    margin: 0 0 1.1rem; }

.form-text {
    color: #999999;
    line-height: 1.5;
    margin-top: 0; }
.form-control + .form-text {
    margin-top: -.5rem;
    margin-bottom: .6rem; }

small.form-text {
    font-size: 85%; }

.required-field > label::after {
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 .45rem; }

.required {
    color: #e02b27;
    font-size: 1.2rem; }
.required + .form-footer {
    margin-top: 0.8rem; }

.form-footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: .6rem; }

.select-custom {
    position: relative;
    margin-bottom: 1rem; }

.select-custom .form-control,
.select-custom .form-control-sm {
    padding-right: 4rem; }


.custom-control {
    position: relative;
    padding-left: 2.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem; }

.custom-control-label {
    position: static;
    margin-bottom: 0;
    margin-top: .1rem;
    font-size: 1.4rem;
    padding-left: 2rem;
    margin-left: -2.6rem; }

.custom-control-label::before {
    left: 0;
    top: .3rem;
    width: 1.3rem;
    height: 1.3rem;
    background-color: #f9f9f9;
    border: 1px solid #dadada;
    box-shadow: none !important; }

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #dadada; }

.custom-control-label::after {
    left: 0;
    top: .6rem;
    width: 1.6rem;
    height: 1.6rem; }

.custom-checkbox .custom-control-label::before {
    border-radius: 0; }

.custom-checkbox .custom-control-label::after {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-image: none;
    font-size: 1rem;
    font-family: 'molla';
    content: '\ec2d';
    line-height: 1;
    text-align: center;
    opacity: 0;
    margin-top: .1rem;
    visibility: hidden;
    transition: opacity .01s; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #333;
    background-color: #333; }

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
    background-color: #333; }

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgba(51, 51, 51, 0.5); }

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
    background-color: rgba(51, 51, 51, 0.5); }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: none;
    opacity: 1;
    visibility: visible; }

.custom-control.custom-radio .custom-control-label::before {
    top: .4rem;
    background-color: #f9f9f9;
    border-color: #dadada;
    border-radius: 50%; }
.custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #c96;
    background-color: #fff; }
.custom-control.custom-radio .custom-control-label::after {
    border-radius: 50%;
    width: .6rem;
    height: .6rem;
    top: .9rem;
    left: .5rem; }
.custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: none !important;
    z-index: 2;
    background-color: #c96; }

.form-control-tooltip {
    position: relative;
    padding-right: 4rem; }
.form-control-tooltip .input-tooltip {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 2.4rem;
    color: #777;
    transform: translateY(-50%);
    transition: all 0.3s; }
.form-control-tooltip .input-tooltip:hover, .form-control-tooltip .input-tooltip:focus {
    color: #000; }


/*--------------------- 4.18.Pagination -------------------- */
/* Pagination */
.pagination {
    border-radius: 0;
    align-items: center;
}

.page-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    height: 3rem;
    font-weight: 400;
    font-size: 1rem;
    padding: 0 .3rem;
    line-height: 1;
    color: #706f6c;
    border-radius: .3rem;
    background-color: transparent;
    border: .1rem solid transparent; }
.page-link i {
    font-size: 1.5rem; }
.page-link.page-link-prev {
    margin-right: 1.7rem; }
.page-link.page-link-prev i {
    margin-left: 0;
    margin-right: 1rem; }
.page-link.page-link-next {
    margin-left: 1.8rem; }
.page-link.page-link-next i {
    margin-left: 1rem;
    margin-right: 0; }
.page-link.page-link-prev, .page-link.page-link-next {
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 70px; }
.page-link:hover, .page-link:focus {
    box-shadow: none;
    color: #c96;
    border-color: #ebebeb;
    text-decoration: none;
    background-color: transparent;
    outline: none !important; }

.page-item-total {
    color: #cccccc;
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 1.2rem; }

.page-item + .page-item {
    margin-left: .4rem; }
.page-item:first-child .page-link {
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem; }
.page-item:last-child .page-link {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem; }
.page-item.active .page-link {
    color: #c96;
    background-color: transparent;
    border-color: #ebebeb; }
.page-item.disabled .page-link {
    border-color: transparent;
    color: #eaeaea; }

/*--------------------- 4.20.Alerts -------------------- */
/* Alerts */
.alert {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.43;
    letter-spacing: -.01em;
    border-radius: 0;
    margin: 0;
    padding: 1rem 1.5rem;
    border: none; }
.alert .container {
    position: relative; }
.alert a {
    color: rgba(255, 255, 255, 0.7); }
.alert a:hover, .alert a:focus {
    color: rgba(255, 255, 255, 0.9); }
.alert .close {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1;
    top: 50%;
    transform: translateY(-50%); }
.alert .close span {
    display: inline-block;
    line-height: 1;
    padding-bottom: .2rem; }



/*--------------------- 5.3.Product Pages -------------------- */
.product-details-top {
    margin-bottom: 1rem; }

.product-main-image {
    position: relative;
    margin-bottom: 0; }
.product-main-image img {
    max-width: none;
    width: 100%;
    border: 10px #efefef solid;
}

.btn-product-gallery {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    z-index: 49;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 4rem;
    height: 4rem;
    color: #777;
    font-weight: normal;
    font-size: 2rem;
    line-height: 1;
    background-color: #fff;
    box-shadow: 2px 6px 16px rgba(51, 51, 51, 0.05);
    transition: all .35s ease; }
.btn-product-gallery:hover, .btn-product-gallery:focus {
    color: #fff;
    background-color: #c96; }

.product-image-gallery {
    display: flex;
    flex-flow: row wrap;
    margin-left: -.5rem;
    margin-right: -.5rem; }

.product-gallery-item {
    position: relative;
    display: block;
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-bottom: 1rem; }
.max-col-6 .product-gallery-item {
    flex: 0 0 16.66%;
    max-width: 16.66%; }
.product-gallery-item img {
    max-width: none;
    width: 100%; }
.product-gallery-item:before, .product-gallery-item:after {
    content: '';
    display: block;
    position: absolute;
    left: .5rem;
    right: .5rem;
    top: 0;
    bottom: 0;
    transition: all .35s ease; }
.product-gallery-item:before {
    opacity: 0;
    visibility: hidden;
    border: 0.1rem solid #c96; }
.product-gallery-item:after {
    visibility: visible;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4); }
.product-gallery-item.active:before {
    visibility: visible;
    opacity: 1; }
.product-gallery-item:hover:after, .product-gallery-item.active:after {
    opacity: 0;
    visibility: hidden; }

.product-gallery-vertical .row {
    margin-left: 0;
    margin-right: 0; }
.product-gallery-vertical .product-image-gallery,
.product-gallery-vertical .product-main-image {
    width: 100%; }
.product-gallery-vertical .product-image-gallery {
    width: calc( 100% + 10px ); }

.product-gallery-masonry {
    position: relative;
    display: block !important; }
.product-gallery-masonry .product-gallery-item {
    max-width: 50%;
    width: 50%; }

/* Important for image zoom in carousel */
.product-gallery-carousel.owl-carousel {
    z-index: initial; }
.product-gallery-carousel.owl-carousel .owl-item:not(.active) {
    pointer-events: none; }

.product-gallery-image {
    margin-bottom: 0;
    padding-right: 1rem; }

.product-gallery-separated {
    position: relative; }

.product-separated-item {
    position: relative;
    display: block;
    margin-bottom: 1rem; }
.product-separated-item img {
    max-width: none;
    width: 100%; }


.product-details .product-title {
    font-weight: 400;
    font-size: 2.9rem;
    letter-spacing: -.025em;
    margin-bottom: 1.3rem;
    margin-top: -.5rem;
    padding-right: 1rem; }
.product-details .ratings-container {
    margin-bottom: 1.3rem; }
.product-details .product-price {
    font-size: 1.6rem; }
.product-details .new-price {
    margin-right: 1rem; }
.product-details .product-content {
    border: 1px solid #efefef;
    padding: 15px;
    margin-bottom: 1.3rem; }
.product-details .product-content p:last-child {
    margin-bottom: 0; }
.product-details .product-countdown {
    position: static;
    left: auto;
    right: auto;
    bottom: auto;
    top: auto;
    max-width: 260px;
    margin-left: -5px;
    margin-bottom: 2rem; }
.product-details .product-countdown .countdown-section {
    background-color: #fafafa; }
.product-details .product-nav-dots a, .product-details .product-nav-dots span {
    width: 2rem;
    height: 2rem; }
.product-details .product-cat {
    font-weight: 400;
    font-size: 1.4rem; }
.product-details .product-cat span {
    margin-right: .7rem; }
.product-details .product-cat a {
    color: #666;
    box-shadow: none;
    transition: all .35s ease; }
.product-details .product-cat a:hover, .product-details .product-cat a:focus {
    color: #c96;
    box-shadow: 0 1px 0 #c96; }
.product-details .product-size {
    flex-flow: row wrap;
    padding-top: 0;
    margin-bottom: 0; }
.product-details .product-size a {
    color: #666;
    width: 4rem;
    height: 4rem;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: -.01em;
    border: .1rem solid #d7d7d7;
    background-color: transparent;
    border-radius: 0;
    margin-right: 1rem; }
.product-details .product-size a.active, .product-details .product-size a:hover, .product-details .product-size a:focus {
    color: #c96;
    border-color: #c96;
    background-color: transparent; }
.product-details .product-size a.disabled {
    color: #dadada;
    border-color: #ebebeb;
    background-color: transparent; }

.details-filter-row {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 1.3rem; }
.details-filter-row .form-control {
    font-weight: 400;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #fff;
    border-color: #d7d7d7;
    min-width: 120px; }
.details-filter-row .select-custom {
    margin-bottom: 0;
    margin-right: 3.9rem; }
.details-filter-row .select-custom .form-control {
    padding-right: 1rem; }
.details-filter-row .select-custom::after {
    font-size: 1rem;
    right: .9rem; }
.details-filter-row label {
    display: inline-block;
    width: 67px;
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 0; }
.details-filter-row .product-nav {
    margin-bottom: 0; }
.details-filter-row .product-nav-thumbs {
    padding-top: 0; }

.product-details-quantity {
    max-width: 131px; }
.product-details-quantity .form-control {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    margin-bottom: 0; }

.product-details-action {
    display: flex;
    align-items: center;
    flex-flow: row wrap; }
.product-details-action .btn-cart {
    padding: 1rem 1.5rem;
    max-width: 198px;
    color: #c96;
    border: 0.1rem solid #c96; }
.product-details-action .btn-cart span {
    font-size: 1.4rem;
    color: inherit;
    text-transform: uppercase;
    box-shadow: none;
    transition: box-shadow .35s ease, color 0s ease; }
.product-details-action .btn-cart:before {
    margin-right: .4rem; }
.product-details-action .btn-cart:hover, .product-details-action .btn-cart:focus {
    color: #fff;
    border-color: #c96;
    background-color: #c96; }


@media screen and (min-width: 992px) {
    .container-fluid .product-details-top .col-lg-7 {
        -ms-flex: 0 0 56.5%;
        flex: 0 0 56.5%;
        max-width: 56.5%; }
    .container-fluid .product-details-top .col-lg-5 {
        -ms-flex: 0 0 43.5%;
        flex: 0 0 43.5%;
        max-width: 43.5%; } }
@media screen and (min-width: 1700px) {
    .container-fluid .product-details-action .btn-cart {
        min-width: 240px; }
    .container-fluid .details-filter-row .form-control {
        min-width: 120px; } }
.product-details-tab {
    margin-bottom: 5rem; }
.product-details-tab .nav.nav-pills .nav-link {
    color: #333333;
    font-size: 1.6rem;
    padding: .55rem 3rem;
    border-bottom-width: .2rem;
    text-transform: capitalize; }
.product-details-tab .nav.nav-pills .nav-link:hover, .product-details-tab .nav.nav-pills .nav-link:focus {
    color: #c96;
    border-bottom-color: #c96; }
.product-details-tab .nav.nav-pills .nav-item + .nav-item {
    margin-left: 2rem; }
.product-details-tab .tab-content {
    border: .1rem solid #dadada;
    margin-top: -.1rem;
    border-radius: .3rem; }
.product-details-tab .tab-content .tab-pane {
    padding: 2.7rem 3rem; }

.details-action-col {
    display: flex;
    align-items: center;
    margin-bottom: 2.2rem; }
.details-action-col .product-details-quantity {
    margin-right: 2rem; }
.details-action-col label {
    display: inline-block;
    width: 67px;
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 0; }

/* Product Extended */
.product-details-extended .nav.nav-pills {
    border-top: .1rem solid #ebebeb; }
.product-details-extended .nav.nav-pills .nav-link {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-top: .2rem solid transparent;
    border-bottom: none;
    margin-top: -.1rem; }
.product-details-extended .nav.nav-pills .nav-link.active, .product-details-extended .nav.nav-pills .nav-link:hover, .product-details-extended .nav.nav-pills .nav-link:focus {
    border-color: #c96; }
.product-details-extended .tab-content {
    border: none; }
.product-details-extended .tab-content .tab-pane {
    padding: 0; }

.product-desc-row {
    display: flex;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    min-height: 500px; }
.product-desc-row.text-white h2, .product-desc-row.text-white h3, .product-desc-row.text-white h4 {
    color: inherit; }

/* Product Gallery */
.product-details-separator {
    margin-bottom: 6rem; }
.product-details-separator .details-filter-row label {
    margin-right: 2.4rem; }
.product-details-separator .details-filter-row .product-size {
    margin-right: 2rem; }
@media screen and (min-width: 768px) {
    .product-details-separator [class*="col-"] {
        padding-top: 1rem; }
    .product-details-separator [class*="col-"] + [class*="col-"]:before {
        content: '';
        width: .1rem;
        display: block;
        height: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        background-color: #ebebeb; } }

.details-footer-col {
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: column;
    align-items: flex-start;
    border-top: none; }
.product-details-centered .details-footer-col {
    align-items: center; }
.details-footer-col .product-cat {
    margin-bottom: 2.6rem; }
.details-footer-col .social-icons {
    margin-left: 0; }



/*--------------------- 5.11.Login -------------------- */
/* Login */
.form-box {
    max-width: 575px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: .5rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border: 20px solid #fff;
}
.form-box .btn {
    min-width: 115px; }

.form-tab .nav.nav-pills {
    color: #333333;
    border-bottom: .1rem solid #ebebeb; }
.form-tab .nav.nav-pills .nav-item {
    margin-bottom: -.1rem; }
.form-tab .nav.nav-pills .nav-item + .nav-item {
    margin-left: 0; }
.form-tab .nav.nav-pills .nav-link {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: -.025em;
    color: inherit;
    border-bottom-width: .2rem;
    padding: .9rem 1rem; }
.form-tab .nav.nav-pills .nav-link.active {
    color: inherit; }
.form-tab .nav-fill .nav-item {
    flex: 1 1 0; }
.form-tab .tab-content .tab-pane {
    padding: 2rem 0  0; }
.form-tab .form-group {
    margin-bottom: 1.3rem; }
.form-tab .form-footer {
    padding-top: .6rem;
    padding-bottom: 3rem;
    border-bottom: .1rem solid #ebebeb;
    margin-bottom: 2.3rem; }
.form-tab .form-footer .btn {
    margin-left: auto;
    margin-top: 1rem;
    order: 2;
    width: 100%; }
.form-tab .form-footer a {
    color: inherit; }
.form-tab .form-footer a:hover, .form-tab .form-footer a:focus {
    color: #c96; }
.form-tab .form-footer a:not(.forgot-link) {
    text-decoration: underline; }
.form-tab .form-footer .custom-control {
    margin: 0; }
.form-tab .form-footer .forgot-link {
    order: -1;
    width: 100%;
    margin-bottom: .6rem; }

.form-choice {
    color: #333333;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: -.025em; }
.form-choice p {
    margin-bottom: 2.7rem; }

.btn.btn-login {
    color: #333333;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .85rem 1rem;
    border: .1rem solid #ebebeb;
    min-width: 0; }
.btn.btn-login i {
    text-align: left;
    display: inline-block;
    margin-right: 0 !important;
    margin-left: 0 !important;
    min-width: 2rem; }
.btn.btn-login.btn-g i {
    color: #cc3333;
    min-width: 2.6rem; }
.btn.btn-login.btn-f i {
    color: #3366cc; }
.btn.btn-login:hover, .btn.btn-login:focus {
    background-color: #f5f6f9; }

.form-choice .col-sm-6:not(:last-child) {
    margin-bottom: .6rem; }

@media screen and (min-width: 576px) {
    .form-choice .col-sm-6:not(:last-child) {
        margin-bottom: 0; }

    .form-tab .form-footer .btn {
        width: auto;
        margin-top: 0; } }
@media screen and (min-width: 768px) {

    .form-tab .nav.nav-pills .nav-link {
        font-size: 2.4rem; }

    .form-tab .form-footer .btn {
        margin-left: 0;
        margin-right: 1.6rem;
        order: -1; }
    .form-tab .form-footer .forgot-link {
        order: 2;
        width: auto;
        margin-bottom: 0;
        margin-left: auto; } }

/*--------------------- 5.13.Checkout -------------------- */
/* Checkout */
@media screen and (min-width: 992px) {
    .checkout .col-lg-3 {
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%; }
    .checkout .col-lg-9 {
        -ms-flex: 0 70%;
        flex: 0 0 70%;
        max-width: 70%; } }
.checkout label {
    margin-bottom: .2rem; }
.checkout .form-control {
    margin-bottom: 1.3rem; }
.checkout .form-control + .form-control {
    margin-top: 2rem; }
.checkout .form-control:not(:focus) {
    background-color: #f9f9f9; }
.checkout textarea.form-control {
    min-height: 150px; }
.checkout .custom-control {
    margin-top: 2.5rem; }
.checkout .custom-control + .custom-control {
    margin-top: 1.8rem; }
.checkout .custom-control + label {
    margin-top: 1rem; }
.checkout .custom-control .custom-control-label {
    font-weight: 400;
    color: #333; }

.checkout-title {
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 0;
    margin-top: 2.2rem;
    margin-bottom: 1.8rem; }

.checkout-discount {
    position: relative;
    max-width: 340px;
    margin-bottom: .5rem; }
.checkout-discount label {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    font-weight: 400;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    opacity: 1;
    transition: all .3s; }
.checkout-discount label span {
    color: #c96; }
.checkout-discount .form-control {
    background-color: transparent !important;
    border-radius: .3rem;
    border: .1rem dashed #d7d7d7;
    padding-left: 1.1rem;
    padding-right: 1.1rem; }
.checkout-discount .form-control:focus {
    border-color: #c96;
    outline: none !important; }

.summary {
    padding: 2.5rem 3rem 3rem;
    border: .1rem dashed #d7d7d7;
    background-color: #f9f9f9;
    border-radius: .3rem;
    margin-top: 2rem;
    margin-bottom: 2rem; }

.summary-title {
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 0;
    padding-bottom: 1.7rem;
    border-bottom: .1rem solid #cccccc;
    margin-bottom: 2.1rem; }

.table.table-summary {
    line-height: 1.43;
    color: #666666;
    border: none;
    margin-bottom: 0; }
.table.table-summary a {
    color: inherit; }
.table.table-summary a:hover, .table.table-summary a:focus {
    color: #c96; }
.table.table-summary thead th,
.table.table-summary .summary-subtotal td {
    color: #333333;
    font-weight: 400;
    font-size: 1.6rem; }
.table.table-summary thead th {
    border-bottom: none;
    padding: 0 0 .3rem; }
.table.table-summary tbody td {
    padding: 0;
    height: 70px;
    border-bottom: .1rem solid #ebebeb; }
.table.table-summary thead th,
.table.table-summary tbody td {
    vertical-align: middle;
    border-top: none; }
.table.table-summary thead th:last-child,
.table.table-summary tbody td:last-child {
    text-align: right;
    min-width: 100px; }
.table.table-summary .summary-total td {
    font-weight: 400;
    font-size: 1.6rem;
    color: #c96;
    border-bottom: none; }


/*--------------------- 5.15.Cart -------------------- */
/* Shopping Cart */
@media screen and (min-width: 992px) {
    .cart .col-lg-3 {
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%; }
    .cart .col-lg-9 {
        -ms-flex: 0 70%;
        flex: 0 0 70%;
        max-width: 70%; } }

.table .total-col {
    color: #c96;
    font-weight: 400;
    font-size: 1.6rem; }

.table.table-cart .price-col {
    width: 120px; }
.table.table-cart .total-col {
    width: 80px; }
.table.table-cart .quantity-col {
    width: 135px; }

.cart-product-quantity {
    width: 100px; }
.cart-product-quantity .form-control {
    padding: .85rem 2.6rem;
    height: 40px;
    max-width: 100%;
    border-color: #dadada;
    background-color: #fff;
    margin: 0; }

.input-spinner {
    position: relative; }
.input-spinner .input-group-prepend,
.input-spinner .input-group-append {
    position: absolute;
    top: 0; }
.input-spinner .input-group-prepend {
    left: 0; }
.input-spinner .input-group-append {
    right: 0; }
.input-spinner .form-control {
    padding: .85rem 2.6rem;
    height: auto;
    border-color: #dadada;
    background-color: #fff;
    margin: 0; }
.input-spinner .form-control[disabled] {
    background-color: #f9f9f9; }

.btn.btn-spinner {
    min-width: 0;
    color: #333333;
    padding: 1.25rem .4rem;
    font-size: 1rem;
    border: none;
    background: none; }
.btn.btn-spinner i {
    margin: 0 !important; }
.btn.btn-spinner:hover, .btn.btn-spinner:focus {
    color: #c96; }

.cart-bottom {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5rem; }
.cart-bottom .btn {
    margin-left: auto;
    min-width: 152px; }

.cart-discount {
    flex: 0 0 50%;
    max-width: 326px; }
.cart-discount .form-control {
    margin-right: 1.1rem; }
.cart-discount .btn {
    min-width: 40px;
    padding-left: 0;
    padding-right: 0; }

.summary.summary-cart {
    margin-bottom: 3rem; }
.summary.summary-cart .summary-title {
    margin-bottom: 0; }

.table.table-summary .summary-shipping {
    color: #333333;
    font-weight: 400;
    font-size: 1.6rem; }
.table.table-summary .summary-shipping td {
    padding-top: 2rem;
    padding-bottom: 1.3rem;
    height: auto;
    border-bottom: none; }
.table.table-summary .summary-shipping-row {
    color: #333333; }
.table.table-summary .summary-shipping-row label {
    color: inherit; }
.table.table-summary .summary-shipping-row td {
    height: auto;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: none; }
.table.table-summary .custom-control {
    margin: 0; }
.table.table-summary .summary-shipping-estimate {
    color: #333333;
    font-weight: 400;
    font-size: 1.6rem; }
.table.table-summary .summary-shipping-estimate td {
    height: auto;
    padding-top: 1.4rem;
    padding-bottom: 2.3rem; }
.table.table-summary .summary-shipping-estimate a {
    margin-top: .6rem;
    display: inline-block;
    font-weight: 300;
    color: #999999;
    font-size: 1.4rem;
    border-bottom: 0.1rem solid #999999; }
.table.table-summary .summary-shipping-estimate a:hover, .table.table-summary .summary-shipping-estimate a:focus {
    color: #c96;
    border-bottom-color: #c96; }

.summary-cart .table.table-summary thead th:last-child,
.summary-cart .table.table-summary tbody td:last-child {
    min-width: 0; }

/*--------------------- 6.Spacing + Helpers -------------------- */
/* Spacing */
.mt-0 {
    margin-top: 0rem !important; }

.mb-0 {
    margin-bottom: 0rem !important; }

.pt-0 {
    padding-top: 0rem !important; }

.pb-0 {
    padding-bottom: 0rem !important; }

.mt-1 {
    margin-top: 1rem !important; }

.mb-1 {
    margin-bottom: 1rem !important; }

.pt-1 {
    padding-top: 1rem !important; }

.pb-1 {
    padding-bottom: 1rem !important; }

.mt-2 {
    margin-top: 2rem !important; }

.mb-2 {
    margin-bottom: 2rem !important; }

.pt-2 {
    padding-top: 2rem !important; }

.pb-2 {
    padding-bottom: 2rem !important; }

.mt-3 {
    margin-top: 3rem !important; }

.mb-3 {
    margin-bottom: 3rem !important; }

.pt-3 {
    padding-top: 3rem !important; }

.pb-3 {
    padding-bottom: 3rem !important; }

.mt-4 {
    margin-top: 4rem !important; }

.mb-4 {
    margin-bottom: 4rem !important; }

.pt-4 {
    padding-top: 4rem !important; }

.pb-4 {
    padding-bottom: 4rem !important; }

.mt-5 {
    margin-top: 5rem !important; }

.mb-5 {
    margin-bottom: 5rem !important; }

.pt-5 {
    padding-top: 5rem !important; }

.pb-5 {
    padding-bottom: 5rem !important; }

.mt-6 {
    margin-top: 6rem !important; }

.mb-6 {
    margin-bottom: 6rem !important; }

.pt-6 {
    padding-top: 6rem !important; }

.pb-6 {
    padding-bottom: 6rem !important; }

.mt-7 {
    margin-top: 7rem !important; }

.mb-7 {
    margin-bottom: 7rem !important; }

.pt-7 {
    padding-top: 7rem !important; }

.pb-7 {
    padding-bottom: 7rem !important; }

.mt-8 {
    margin-top: 8rem !important; }

.mb-8 {
    margin-bottom: 8rem !important; }

.pt-8 {
    padding-top: 8rem !important; }

.pb-8 {
    padding-bottom: 8rem !important; }

.mt-9 {
    margin-top: 9rem !important; }

.mb-9 {
    margin-bottom: 9rem !important; }

.pt-9 {
    padding-top: 9rem !important; }

.pb-9 {
    padding-bottom: 9rem !important; }

.mt-10 {
    margin-top: 10rem !important; }

.mb-10 {
    margin-bottom: 10rem !important; }

.pt-10 {
    padding-top: 10rem !important; }

.pb-10 {
    padding-bottom: 10rem !important; }

.mt-11 {
    margin-top: 11rem !important; }

.mb-11 {
    margin-bottom: 11rem !important; }

.pt-11 {
    padding-top: 11rem !important; }

.pb-11 {
    padding-bottom: 11rem !important; }

.mt-12 {
    margin-top: 12rem !important; }

.mb-12 {
    margin-bottom: 12rem !important; }

.pt-12 {
    padding-top: 12rem !important; }

.pb-12 {
    padding-bottom: 12rem !important; }

.mt-13 {
    margin-top: 13rem !important; }

.mb-13 {
    margin-bottom: 13rem !important; }

.pt-13 {
    padding-top: 13rem !important; }

.pb-13 {
    padding-bottom: 13rem !important; }

.mt-14 {
    margin-top: 14rem !important; }

.mb-14 {
    margin-bottom: 14rem !important; }

.pt-14 {
    padding-top: 14rem !important; }

.pb-14 {
    padding-bottom: 14rem !important; }

.mt-15 {
    margin-top: 15rem !important; }

.mb-15 {
    margin-bottom: 15rem !important; }

.pt-15 {
    padding-top: 15rem !important; }

.pb-15 {
    padding-bottom: 15rem !important; }

/* '' */
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFCC00;
}
.main {
    min-height: 500px;
    margin-top: 110px;
}
/*# sourceMappingURL=style.css.map */
.lds-dual-ring {
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 80px;
    padding-left: 50%;
    padding-top: 50px;
    transform: translateY(-50%);
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    /*
    border-color: #fff transparent #fff transparent;
    */
    border-color: #ff59bd transparent #ff59bd transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
