<div class="row mb-2">
    <div class="col-md-12 text-right">
        <a href="#" id="{{ toggleFiltersBtnId }}" class="btn">
            <i class="fas fa-fw fa-filter"></i> Show/Hide filters
        </a>
    </div>
</div>
