<div class="mobile-menu-container" id="mobile_menu_container">
    <button class="mobile-menu-close-btn" id="mobile_menu_close_btn">
        <i class="fas fa-times"></i>
    </button>
    <nav class="mobile-nav">
        <ul class="mobile-menu">
            {% include 'embed/menu/_menu_item.html.twig' with {
                'targetRoute': 'shop_index',
                'label': 'Homepage',
                'isBold': 1
            } %}
            {% include 'embed/menu/_menu_item.html.twig' with {
                'targetRoute': 'category_show',
                'slug': 'jeans',
                'label': 'Jeans'
            } %}
            {% include 'embed/menu/_menu_item.html.twig' with {
                'targetRoute': 'category_show',
                'slug': 'hats',
                'label': 'Hats'
            } %}
            {% include 'embed/menu/_menu_item.html.twig' with {
                'targetRoute': 'category_show',
                'slug': 'jackets',
                'label': 'Jackets'
            } %}
            {% include 'embed/menu/_menu_item.html.twig' with {
                'targetRoute': 'category_show',
                'slug': 'dresses',
                'label': 'Dresses'
            } %}
            {% include 'embed/menu/_menu_item.html.twig' with {
                'targetRoute': 'category_show',
                'slug': 'sneakers',
                'label': 'Sneakers'
            } %}

            {% if app.user %}
                {% include 'embed/menu/_menu_item.html.twig' with {
                    'targetRoute': 'profile_index',
                    'label': 'My profile',
                    'isBold': 1
                } %}
            {% else %}
                {% include 'embed/menu/_menu_item.html.twig' with {
                    'targetRoute': 'security_login',
                    'label': 'Login',
                    'isBold': 1
                } %}
            {% endif %}

            {% include 'embed/menu/_menu_item.html.twig' with {
                'targetRoute': 'cart_index',
                'label': 'Cart',
                'isBold': 1
            } %}
        </ul>
    </nav>
</div>
